<main>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/assets/img/1.jpg"
          class="img-fluid d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block card-overlay">
          <p class="display-5 fw-bold">Eclecticism</p>
          <p class="lead fw-normal">
            Diverse competenze con un obiettivo comune da raggiungere.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="sandra/assets/img/2.jpg"
          class="img-fluid d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block card-overlay">
          <p class="display-5 fw-bold">Sinergy</p>
          <p class="lead fw-normal">
            Attitudini personali e professionali e caratteristiche distintive in
            perfetta armonia
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/assets/img/3.jpg"
          class="img-fluid d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block card-overlay">
          <p class="display-5 fw-bold">Communication</p>
          <p class="lead fw-normal">
            <em>
              "Il fallimento di una relazione è quasi sempre un fallimento di
              comunicazione."</em
            >
            -Zygmunt Bauman
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing p-4 mt-3">
    <p class="display-5 fw-bold text-center">Il Nostro Team</p>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div
        class="col-lg-4 d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="/assets/img/8mmaFjrr.png"
          class="avatar"
          style="width: 180px; height: 180px"
          alt=""
        />

        <h2 class="fw-normal text-center fw-bold mt-2 mb-0">S.A.N.D.R.A.</h2>
        <h2 class="mt-0">AI MetaHuman</h2>
        <p class="text-center">
          Protagonista assoluta, intelligente, reattiva, autonoma
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <div
        class="col-lg-4 d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="/assets/img/1638716648378.jpg"
          class="avatar"
          style="width: 180px"
          alt=""
        />

        <h2 class="fw-normal text-center fw-bold mt-2 mb-0">Simone Iannotti</h2>
        <h2 class="mt-0">Team Leader</h2>
        <p class="text-center">
          Energico e caparbio , in grado di trascinare il gruppo verso obiettivi
          inimmaginabili. <em>Traghettatore</em>
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <div
        class="col-lg-4 d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="/assets/img/IMG_3143.jpg"
          class="avatar"
          style="width: 180px; height: 180px"
          alt=""
        />
        <h2 class="fw-normal text-center fw-bold mt-2 mb-0">Stefano Astazi</h2>
        <h2 class="mt-0">Il tecnico</h2>
        <p class="text-center">
          Capace di districarsi abilmente nel fitto sottobosco delle tecnologie
          e dei servizi, di editing e di sviluppo.
          <em>Mutaforme estroso</em>
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <div
        class="col-lg-4 d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="/assets/img/1613641427232.jpg"
          class="avatar"
          style="width: 180px"
          alt=""
        />

        <h2 class="fw-normal text-center fw-bold mt-2 mb-0">
          Daniele Carnamucio
        </h2>
        <h2 class="mt-0">Supporto</h2>
        <p class="text-center">
          L'alto livello di flessibilità gli permette di coadiuvare situazioni
          ampiamente differenti tra loro.
          <em>Eclettico</em>
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <div
        class="col-lg-4 d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="/assets/img/1614196570893.jpg"
          class="avatar"
          style="width: 180px"
          alt=""
        />

        <h2 class="fw-normal text-center fw-bold mt-2 mb-0">Luca Maddalo</h2>
        <h2 class="mt-0">Il mediatore</h2>
        <p class="text-center">
          Le sue limitate competenze tecniche vengono più che colmate dalle sue
          spiccate doti comunicative.
          <em>Intermediario</em>
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <div
        class="col-lg-4 d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="/assets/img/Lu.png"
          class="avatar"
          style="width: 180px"
          alt=""
        />

        <h2 class="fw-normal text-center fw-bold mt-2 mb-0">Luisa De Luca</h2>
        <h2 class="mt-0">Full-Stack Developer</h2>
        <p class="text-center">
          La sua ampia conoscenza in ambito di ML si è rivelata essenziale in
          fase di progettazione e realizzazione.
          <em>Sviluppatrice</em>
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />
  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  <footer class="container">
    <p>© 2022 GearUp· ·</p>
  </footer>
</main>
