<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div
    class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
  >
    <div class="row">
      <div class="col-md-6  d-flex align-items-center justify-content-center">
        <video width="600" controls>
          <source src="assets/videos/sandraaccia.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="col-md-6  d-flex align-items-center justify-content-center">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          quis magnam id consequatur repellat eligendi? Molestiae repudiandae
          dicta, quaerat soluta accusamus voluptates quae, odio exercitationem,
          eius illo possimus optio expedita.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 order-2  d-flex align-items-center justify-content-center">
        <video width="600" controls>
          <source src="assets/videos/Progetto senza titolo2.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          quis magnam id consequatur repellat eligendi? Molestiae repudiandae
          dicta, quaerat soluta accusamus voluptates quae, odio exercitationem,
          eius illo possimus optio expedita.
        </p>
      </div>
    </div>
    <div class="my-3 p-3">
      <h2 class="display-5">La mente</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div
      class="bg-dark shadow-sm mx-auto"
      style="width: 80%; height: 500px; border-radius: 21px 21px 0 0"
    >
      <img
        src="../../../assets/img/mlnet2.jpg"
        alt=""
        style="
          width: 100%px;
          height: 300px;
          margin-top: 10px;
          border-radius: 20px;
        "
      />
      <p style="color: white; padding: 40px">
        Integrazione tra ML microsoft e Intel AI hanno dato vita alla mente di
        SANDRA. Addestrata con ampi dataset, sotto la supervisione dei nostri
        dev, SANDRA é in grado di dialogare in modo naturale con il candidato,
        individuando le criticità e suggerendo all’ultimo, consigli formativi.
        Tutto ciò in totale autonomia.
      </p>
    </div>
  </div>
  <!-- <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
  <div class="my-3 py-3">
    <h2 class="display-5">Another headline</h2>
    <p class="lead">And an even wittier subheading.</p>
  </div>
  <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
</div> -->
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div
    class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
  >
    <div class="my-3 p-3">
      <h2 class="display-5">L'analisi</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div
      class="bg-body shadow-sm mx-auto"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
    >
      <p style="padding: 40px">
        SANDRA è allineata con la piattaforma di elaborazione dati. Ogni
        intervista è in grado di estrarre una vasta gamma di dati valutando hard
        e soft skill del candidato, riuscendo ad estrapolare un profilo molto
        dettagliato. Incrociando le informazioni è possibile delineare un quadro
        generale della preparazione dei collaboratori, individuando gli
        argomenti critici, su quale l’azienda può valutare interventi più
        generali. I dati estrapolati da SANDRA sono in grado di supportare
        l’attività organizzativa e formativa dell’azienda
      </p>
    </div>
  </div>
  <!-- <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
  <div class="my-3 py-3">
    <h2 class="display-5">Another headline</h2>
    <p class="lead">And an even wittier subheading.</p>

  </div>
  <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">

</div>
</div> -->
</div>
<!--  -->
