<div class="row p-5 justify-content-center align-items-center">   
            <p class="display-1">
                I nostri partners
            </p>
            <hr>
            <div class="col-md-6 mt-3 text-center">
                <img src="assets/img/unreal-engine.png" style="width: 250px; height:250px" alt="">
            </div>

            <div class="col-md-6 mt-3 text-center">
                <img src="assets/img/mlnet.png" style="width: 250px; height:250px" alt="">
            </div>


</div>
<div class="row p-5 justify-content-center align-items-center">
    
    <div class="col-md-6 mt-3 text-center">
        <img src="assets/img/intel.png" style="width: 250px; height:250px" alt="">
    </div>

    <div class="col-md-6 mt-3 text-center">
        <img src="assets/img/machine-learning.png" style="width: 250px; height:250px" alt="">
    </div>
</div>